doctype html
html
	
	head
		title Dashboard
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		link(rel='stylesheet', href='/stylesheets/select.min.css')
		script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
		script(defer='', src='/scripts/select.min.js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			.custom-style{
				border-left: solid 4px transparent;
				color: rgba(0,0,0,0.87);
				display: block;
				font-size: 16px;
				font-weight: 500;
				padding-left: 20px;
				padding-bottom: 10px;
				margin-top: 16px;
			}

	body
		// Layout start
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header


			// Header start
			header.mdl-layout__header
				.mdl-layout-icon
				.mdl-layout__header-row
					span.mdl-layout__title 
						| #{dashboard.type} Dashboard
					.mdl-layout-spacer
					nav.mdl-navigation
						a.mdl-navigation__link(href='') My Profile
						button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
							i.material-icons more_vert
						ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-right')
							li(class="mdl-menu__item" onclick="window.location.replace('#{rootURL}/logout')") Logout
							li.mdl-menu__item #{user.name}
					

			// Main Content
			main.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
				.mdl-layout__drawer
					span.mdl-layout__title Instruction Division
					nav.mdl-navigation
						div.custom-style Portals
						each portal in portals
							a.mdl-navigation__link(href='#{rootURL}/#{portal.name}')
								i.material-icons(style='padding-right:20px') #{portal.icon}
								| #{portal.displayName}
			main.mdl-layout__content
				div.mdl-grid
					block content
