extends ../../../master-dashboard

block content
	script(type='text/javascript').
		document.getElementsByClassName('mdl-navigation__link menuselectify')[0].classList.remove('menuselectify')
		document.getElementById('feedbacks-midsem').classList.add('menuselectify')
				window.onload = () => {
			$.validator.addMethod("valueNotEquals", function(value, element, arg){
				return arg !== value;}, "Value must not equal arg.");
			$("#form1").validate({
				focusInvalid: false,
				onfocusout: false,
				rules :{
					instructorlist : {valueNotEquals: ". . ." },
					feedback : {required: true}
				},
				messages: {
					instructorlist : { valueNotEquals: "Please select an Instructor!" },
					feedback : {required: "Please enter your feedback!"}
				},
				errorPlacement: (err,ele) => {
					if(err[0].innerText == "Please select an Instructor!"){
					materialAlert('Instructor Selection',err[0].innerText,function(result){console.log(result)})
					}
					else{
					materialAlert('Feedback',err[0].innerText,function(result){console.log(result)})
					}
				}
			});
			}
	div.mdl-cell.mdl-cell--12-col.center
		div#demo-stepper-linear.mdl-stepper.mdl-stepper--linear.mdl-stepper--horizontal(data-upgraded=',MaterialStepper')
			div.mdl-step.mdl-step--completed
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Select Course
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 1
			div.mdl-step.mdl-step--completed
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Select Class
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 2
			div.mdl-step.is-active
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Provide Feedback
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 3
				.mdl-step__content
					div.mdl-grid
						div.mdl-cell.mdl-cell--12-col.center
							h4 Mid-Sem Feedback
							p Select the Instructor you want to write feedback for.
							form(action="#{rootURL}/feedbacks-midsem/step-4", method="post", name="form1" id="form1")
								div.mdl-grid
									.mdl-cell.mdl-cell--12-col
										h7 You are writing feedback for #{courseID} #{courseSection}
									div.mdl-cell.mdl-cell--12-col
										.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
											input#instructorlist.mdl-textfield__input(type='text', value='. . .', readonly='', tabindex='-1', name='instructorlist')
											label(for='instructorlist')
												i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
											label.mdl-textfield__label(for='instructorlist') Select Instructor
											ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='instructorlist')
												each item in params
													li.mdl-menu__item(data-val='#{item.name}') #{item.name}
									div.mdl-cell.mdl-cell--12-col
										.mdl-textfield.mdl-js-textfield
											h7 Question 1 here
											textarea#feedback.mdl-textfield__input(type='text', rows='5',name='feedback-midsem-1')
											h7 Question 2 here
											textarea#feedback.mdl-textfield__input(type='text', rows='5',name='feedback-midsem-2')
											h7 Question 3 here
											textarea#feedback.mdl-textfield__input(type='text', rows='5',name='feedback-midsem-3')
											

				.mdl-step__actions
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
						| Submit
						span.mdl-button__ripple-container
							span.mdl-ripple
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}')")
						| Cancel
						span.mdl-button__ripple-container
							span.mdl-ripple