extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col
		h2 Project Allotment

	div.mdl-cell.mdl-cell--12-col
		if(lines)
			ul.mdl-list
				li.mdl-list__item.
					#{lines[0]}
				
				li.mdl-list__item.
					#{lines[1]}

				li.mdl-list__item.
					#{lines[2]}	

				li.mdl-list__item.
					#{lines[3]}
				
				li.mdl-list__item.
					#{lines[4]}


				li.mdl-list__item
					span.mdl-list__item-primary-content
						i.material-icons.mdl-list__item-icon note
						| These courses will be available only to those students who have elective slot(s) in their prescribed semester wise chart for the semester and who are eligible to register in these courses as per Academic Regulations

				li.mdl-list__item
					span.mdl-list__item-primary-content
						i.material-icons.mdl-list__item-icon note
						| Students who want to propose their own project idea, can contact the concerned faculty member.					

	div.mdl-cell.mdl-cell--3-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/view')")
			i.material-icons add
			| View Projects
	
	div.mdl-cell.mdl-cell--3-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/blank')")
			i.material-icons book
			| Blank Application

	div.mdl-cell.mdl-cell--3-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/faq')")
			i.material-icons question_answer
			| FAQs

	div.mdl-cell.mdl-cell--3-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/manage')")
			i.material-icons settings
			| Application Status
