extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col.center
		h2 Project Allotment
		h4 #{department}
		hr		
	div.mdl-cell.mdl-cell--12-col.center
		if projects.length !== 0
			br
			h7 Click to view details
			br
			br
			center
				div.table-responsive
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.center
						thead
							tr
								th.mdl-data-table__cell--non-numeric Title
								th.mdl-data-table__cell--non-numeric Instructor
								th.mdl-data-table__cell--non-numeric Type
						tbody
							for project in projects
								tr
									td.mdl-data-table__cell--non-numeric #{project.title.substring(0,60)} ...
									td.mdl-data-table__cell--non-numeric #{project.instructorName}
									td.mdl-data-table__cell--non-numeric #{project.type.toUpperCase()}
									td.mdl-data-table__cell--non-numeric 
										a(href="#{rootURL}/#{reqPortal}/view/#{project._id}") View/Apply
		else
			br
			h6 No Projects Found
