doctype html
html

	head
		title Dashboard
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-blue.min.css')
		link(rel='stylesheet', href='/stylesheets/select.css')
		link(rel='stylesheet', href='/stylesheets/stepper.min.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		link(rel='stylesheet', href='/stylesheets/material-alerts.css')
		script(defer='', src='/scripts/jquery-3.2.1.slim.js')
		script(defer='', src='/scripts/jquery.validate.min.js')
		script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
		script(defer='', src='/scripts/select.js')
		script(defer='', src='/scripts/material-alerts.js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style.
			.pushit{
				padding-left: 20px;
			}
			.grayify{
				background-color: rgba(243,243,243,1);
			}
			.menuselectify{
				background-color: rgba(224,224,224,1);
			}
			.avatar {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				margin-right: -2px;
				display:inline;
			}
			@media (max-width: 768px) {
				.avatar, .profile-header, .profile-subheader, .stuff  {
					display:none;
				}
			}
			.profile-header{
				margin:0 0 -4px!important; 
				padding-top:20px!important;
			}
			.profile-subheader{
				font-size:10px!important;
				color:rgb(225,225,225);
			}
			.dropdown-header {
				padding: 0px 0px 0px 20px;
				font-size: 10px;
				font-weight: 500;
				opacity: .6;
			}

	body
		// Layout start
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header

			// Header start
			header.mdl-layout__header
				.mdl-layout-icon
				.mdl-layout__header-row
					span.mdl-layout__title 
						| #{dashboard.type} Dashboard
					.mdl-layout-spacer
					nav.mdl-navigation
						div(style="padding-right:12px")
						img.avatar(src=profileImage alt=user.name href=rootURL + '/profile' onclick="window.location.replace('#{rootURL}/profile')")
						a.mdl-navigation__link(href=rootURL + '/profile')
							p.profile-header #{user.name}
							p.profile-subheader #{dashboard.type}
						button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon.stuff
							i.material-icons more_vert
						ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-right')
							li(class="mdl-menu__item" onclick="window.location.replace('#{rootURL}/logout')") Logout
							li.mdl-menu__item #{user.name}

			// Main Content
			main.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
				.mdl-layout__drawer
					span.mdl-layout__title Instruction Division
					nav.mdl-navigation
						a.mdl-navigation__link.menuselectify(href=rootURL,id='dashboard')
							i.material-icons(style='padding-right:20px') dashboard
							| Dashboard
						a.mdl-navigation__link(href=rootURL + '/profile',id='profile')
							i.material-icons(style='padding-right:20px') account_circle
							| My Profile
						a.mdl-navigation__link(href='http://id.bits-hyderabad.ac.in/moodle/mod/forum/view.php?id=1',id='web')
							i.material-icons(style='padding-right:20px') web
							| Site News
						a.mdl-navigation__link(href=rootURL + '/bug',id='bugreport')
							i.material-icons(style='padding-right:20px') bug_report
							| Bug Report
						hr
						a.mdl-navigation__link(href=rootURL + '/logout',id='bugreport')
							i.material-icons(style='padding-right:20px') power_settings_new
							| Log Out
						hr
						h6.center Portals						
						if dashboard.type == "Administrator"
							each portal in portals
								if user.portals.indexOf(portal.name) >= 0 || user.superUser
									a.mdl-navigation__link(href=rootURL + '/' + portal.name,id=portal.name)
										i.material-icons(style='padding-right:20px') #{portal.icon}
										| #{portal.displayName}
						else
							each portal in portals
								a.mdl-navigation__link(href=rootURL + '/' + portal.name,id=portal.name)
									i.material-icons(style='padding-right:20px') #{portal.icon}
									| #{portal.displayName}

			main.mdl-layout__content.grayify
				div.mdl-grid
					block content