extends ../../../../master-dashboard

block content
    style.
        td{
            margin: 15px;
            padding: 15px;
        }
    center
        h3 Class Moved! (But these are the future room-bookings which are clashing in the time slot)
        table
            thead
                tr  
                    th Room Number
                    th Booked By
                    th Purpose
                    th Start Time and Date 
                    th End Time and Date
            tbody
                each booking in bookings
                    tr
                        td
                            center #{booking.number}
                        td
                            center #{booking.bookedBy}
                        td
                            center #{booking.purpose}
                        td
                            center #{booking.start}
                        td
                            center #{booking.end}
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}/control/room-map')")
                | Go Back
                span.mdl-button__ripple-container
                    span.mdl-ripple
