extends ../../../../master-dashboard

block content
    style.
        td.hour{
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-weight: 500;
            font-size: 12px;
            border-bottom: solid blue 1px;
            padding: 12px;
            min-width: 85px;

        }
        td.day{
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-weight: 800;
            font-size:15px;
        }
        th {
            padding: 15px;
        }
        td.hour:hover {
            color:blue;
            cursor: pointer;
        } 
        .mdl-grid {
            overflow: auto;
        }
        select{
            margin-right:45px;
            margin-bottom: 20px;
            margin-left: 10px;
        }
        .mdl-button{
            float:right;
        }
    form(action="#{rootURL}/control/room-map/#{room}/changeClass", method="post", name="form1" id="form1").mdc-form-field
        div.mdl-cell.mdl-cell--12-col.center
            .mdl-grid.main
                .mdl-cell.mdl-cell--10-col
                    table
                        thead
                            tr
                                th 
                                for number in numberHash
                                    th=number

                        tbody
                            -   for   (var day = 0 ; day < classes.length; day++ ){
                                tr
                                    td.day=weekDayHash[day]    
                                            
                                    -   for   (var hour = 0; hour < classes[day].length; hour++) {
                                            td.hour
                                                input.hour(type="text", name=day+''+hour, value=classes[day][hour])
                                    -   }
                            -   }
    .mdl-cell.mdl-cell--3-col.center
        | Present Room : #{room}
    div.mdl-cell.mdl-cell--3-col.center
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect.center(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}')")
            | Cancel
            span.mdl-button__ripple-container
                span.mdl-ripple

        button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised.center(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
            | Change Class
            span.mdl-button__ripple-container
                span.mdl-ripple