doctype html
html
	head
		// Meta
		title AUGS Division | Dashboard
		meta(content='AUGS Division' name='title')
		meta(content="AUGS Division is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Academic Instructor Feedback,  Student Coursework and formalizing Student-Professor projects." name='description')
		meta(content='initial-scale=1, minimum-scale=1, width=device-width' name='viewport')
		meta(content='IE=11;IE=Edge' http-equiv='X-UA-Compatible')
		meta(name='thumbnail' content='/images/augsd-logo.png')
		meta(itemprop='name' content='AUGS Division')
		meta(itemprop='description' content="AUGS Division is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Academic Instructor Feedback,Student Coursework,and formalizing Student-Professor projects.")
		meta(itemprop='image' content='/images/logo/augsd-logo.png')
		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:site' content='@bitshyd')
		meta(name='twitter:title' content='AUGS Division')
		meta(name='twitter:description' content="AUGS Division is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Academic Instructor Feedback, Student Coursework and formalizing Student-Professor projects.")
		meta(name='twitter:image' content='/images/logo/augsd-logo.png')
		meta(name='twitter:url' content='http://augsd.bits-hyderabad.ac.in')
		meta(property='og:type' content='website')
		meta(property='og:title' content='AUGS Division')
		meta(property='og:description' content="AUGS Division is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Academic Instructor Feedback, Student Coursework and formalizing Student-Professor projects.")
		meta(property='og:url' content='http://augsd.bits-hyderabad.ac.in')
		meta(property='og:image' content='/images/logo/augsd-logo.png')
		meta(property='og:site_name' content='AUGS Division')
		meta(property='og:locale' content='en_IN')
		script(type='application/ld+json').
			{
			"@context": "http://schema.org",
			"@type": "Website",
			"url": "http://augsd.bits-hyderabad.ac.in",
			"publisher": {
			"@type": "Organization",
			"name": "AUGS Division",
			"logo": {
			"@type": "ImageObject",
			"url": "/images/logo/augsd-logo.png",
			"height": 103,
			"width": 100
			},
			"parentOrganization": "BITS Pilani Hyderabad Campus"
			},
			"name": "AUGS Division",
			"description": "AUGS Division is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Academic Instructor Feedback, Content Management System, Student Coursework, Biometric Attendance and Teaching Assistantship and formalizing Student-Professor projects.",
			"sameAs": [
			"https://www.facebook.com/bitshyderabad/",
			"https://twitter.com/bitshyd"]
			}
		link(rel='shortcut icon' href='/images/favicon.png')
		// Styles
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		script(src="https://cdn.plot.ly/plotly-latest.min.js")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
		style.
			.pushit{
				padding-left: 20px;
			}
			.grayify{
				background-color: rgba(243,243,243,1);
			}
			.menuselectify{
				background-color: rgba(224,224,224,1);
			}
			.avatar {
				width: 32px;
				height: 32px;
				border-radius: 50%;
				margin-right: -2px;
				display:inline;
			}
			@media (max-width: 768px) {
				.avatar, .profile-header, .profile-subheader, .stuff  {
					display:none;
				}
			}
			.profile-header{
				margin:0 0 -4px!important; 
				padding-top:20px!important;
			}
			.profile-subheader{
				font-size:10px!important;
				color:rgb(225,225,225);
			}
			.dropdown-header {
				padding: 0px 0px 0px 20px;
				font-size: 10px;
				font-weight: 500;
				opacity: .6;
			}

			#loader-pitch{
			position: fixed;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: 'Roboto'!important;
			width: 92%;
			color: #CC6060;
			text-align: center;
			margin: 0 auto;
			}

			.hidden {
				display: none;
			}

			h1{
				font-family: "Roboto","Helvetica","Arial",sans-serif;
				font-weight: 400;
				font-size: 56px;
				line-height: 1.35;
				letter-spacing: -.02em;
				margin: 24px 0;
			}
			.scroll-bar-wrap {
			width: 300px;
			position: relative;
			margin: 2em auto;
			}
			.scroll-box {
			width: 100%;
			height: 81%;
			overflow-y: scroll;
			}
			.scroll-box::-webkit-scrollbar {
			width: .4em; 
			}
			.scroll-box::-webkit-scrollbar,
			.scroll-box::-webkit-scrollbar-thumb {
			overflow:visible;
			border-radius: 4px;
			}
			.scroll-box::-webkit-scrollbar-thumb {
			background: rgba(0,0,0,.2); 
			}
			.cover-bar {
			position: absolute;
			background: #fff;;
			height: 100%;  
			top: 0;
			right: 0;
			width: .4em;
			-webkit-transition: all .5s;
			opacity: 1;
			}
			.scroll-bar-wrap:hover .cover-bar {
			opacity: 0;
			-webkit-transition: all .5s;
			}
			.application {
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
			margin: 5px;
			background: white;
			width: 100%;
			}		
			.head {
			text-align: left;
			font-weight: bold;
			}		
			.value {
			text-align: left
			}

	body
		div.loader(id="loader")
			.loader-overlay.hidden
			#loader-pitch
				h1 AUGS Division.
				p(id="errormessage").hidden Something went wrong. Try refreshing the page.

		// Layout start
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header(id="body_main").hidden

			// Header start
			header.mdl-layout__header
				.mdl-layout__header-row
					span.mdl-layout__title 
						| #{dashboard.type} Dashboard
					.mdl-layout-spacer
					nav.mdl-navigation
						div(style="padding-right:12px")
						img.avatar(src=profileImage alt=user.name href=rootURL + '/profile' onclick="window.location.replace('#{rootURL}/profile')")
						a.mdl-navigation__link(href=rootURL + '/profile')
							p.profile-header #{user.name}
							p.profile-subheader
								if switched
									| Switched Session
								else
									|#{dashboard.type}
						button#demo-menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon.stuff
							i.material-icons more_vert
						ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='demo-menu-lower-right')
							if switched
								li(class="mdl-menu__item" onclick="window.location.replace('#{rootURL}/switch-back')") Switch Back
							li(class="mdl-menu__item" onclick="window.location.replace('#{rootURL}/logout')") Logout

			// Main Content
			main.mdl-layout__drawer
				span.mdl-layout__title
					//- img(src="/images/logo/tdlogo-02.png" style="outline: 0; max-width: 100%; height: auto;")
					| AUGS Division
				nav.mdl-navigation.inner.scrollbar-container.scroll-box.scroll-bar-wrap
					if dashboard.type == "Student"
						a.mdl-navigation__link.menuselectify(href=rootURL,id='dashboard')
							i.material-icons(style='padding-right:20px') dashboard
							| Dashboard
					else 
						a.mdl-navigation__link.menuselectify(href=rootURL,id='admin')
							i.material-icons(style='padding-right:20px') dashboard
							| Dashboard
					a.mdl-navigation__link(href=rootURL + '/profile' id='profile')
						i.material-icons(style='padding-right:20px') account_circle
						| My Profile 
					a.mdl-navigation__link(href='http://id.bits-hyderabad.ac.in/moodle/mod/forum/view.php?id=1' id='web')
						i.material-icons(style='padding-right:20px') web
						| Site News
					a.mdl-navigation__link(href=rootURL + '/bug' id='bug')
						i.material-icons(style='padding-right:20px') bug_report
						| Bug Report
					hr
					a.mdl-navigation__link(href=rootURL + '/logout' id='bugreport')
						i.material-icons(style='padding-right:20px') power_settings_new
						| Log Out
					hr
					h6.center Portals						
					if dashboard.type == "Administrator"
						each portal in portals
							if user.portals.indexOf(portal.name) >= 0 || user.superUser
								a.mdl-navigation__link(href=rootURL + '/' + portal.name,id=portal.name)
									i.material-icons(style='padding-right:20px') #{portal.icon}
									| #{portal.displayName}
					else
						each portal in portals
							a.mdl-navigation__link(href=rootURL + '/' + portal.name,id=portal.name)
								i.material-icons(style='padding-right:20px') #{portal.icon}
								| #{portal.displayName}

			main.mdl-layout__content.grayify
				div.mdl-grid
					block content
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-107202501-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-107202501-1');
		script(type='text/javascript').
			document.getElementsByClassName('mdl-navigation__link menuselectify')[0].classList.remove('menuselectify')
			document.getElementById('#{reqPortal}').classList.add('menuselectify')

		script.
			function loadScript(src) {
				return new Promise(function (resolve, reject) {
					var s;
					s = document.createElement('script');
					s.src = src;
					s.onload = resolve;
					s.onerror = reject;
					document.head.appendChild(s);
				});
			}
			loadScript("/scripts/jquery-3.2.1.slim.js").then(() => {
				let stage1 = ["/scripts/jquery.validate.min.js", "https://code.getmdl.io/1.3.0/material.min.js", "/scripts/select.js", "/scripts/material-alerts.js"];
				let stage2 = ["https://fonts.googleapis.com/icon?family=Material+Icons", "https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css", "/stylesheets/select.css", "/stylesheets/stepper.min.css", "/stylesheets/dashboard.css", "/stylesheets/material-alerts.css"]
				let asyncLoad = new CSSLoader();
				stage2.forEach((item) => {asyncLoad.add(item)});
				asyncLoad.load();
				asyncLoad = new ScriptLoader();
				stage1.forEach((item) => {asyncLoad.add(item)});
				asyncLoad.load(function(){
					window.onload = function(){
					body_main.classList.remove('hidden');
					loader.classList.add('hidden');
					}
				})});
			function ScriptLoader() {
				var promises = [];
				this.add = function(url) {
					var promise = new Promise(function(resolve, reject) {
						var script = document.createElement('script');
						script.src = url;
						script.addEventListener('load', function() {
							resolve(script);
						}, false);
						script.addEventListener('error', function() {
							reject(script);
							console.log('was rej');
						}, false);
						document.body.appendChild(script);
					});
					promises.push(promise);
				};
				this.load = function(resolve) {
					Promise.all(promises).then(resolve);
				};
			}
			function CSSLoader() {
				var promises = [];
				this.add = function(url) {
					var promise = new Promise(function(resolve, reject) {
						var css = document.createElement('link');
						css.rel = 'stylesheet';
						css.href = url;
						css.addEventListener('load', function() {
							resolve(css);
						}, false);
						css.addEventListener('error', function() {
							console.log('was rej');
							reject(css);
						}, false);
						document.body.appendChild(css);
					});
					promises.push(promise);
				};
				this.load = function(resolve) {
					Promise.all(promises).then(resolve);
				};
			}
