extends ../../../../master-dashboard

block content
    style.
        td.hour{
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-weight: 500;
            font-size: 12px;
            border-bottom: solid blue 1px;
            padding: 12px;
            min-width: 85px;

        }
        td.day{
            font-family: "Roboto","Helvetica","Arial",sans-serif;
            font-weight: 800;
            font-size:15px;
        }
        th {
            padding: 15px;
        }
        td.hour:hover {
            color:blue;
            cursor: pointer;
        }
        .mdl-grid{
            overflow-x: scroll;
            overflow-y: scroll;
        }
        select{
            margin-right:45px;
            margin-bottom: 20px;
            margin-left: 10px;
        }
        .mdl-button{
            float:right;
        }
    div.mdl-cell.mdl-cell--12-col.center
        .mdl-grid
            .mdl-cell.mdl-cell--10-col
                table
                    thead
                        tr
                            th 
                            th 1
                            th 2
                            th 3
                            th 4
                            th 5
                            th 6
                            th 7
                            th 8
                            th 9
                            th 10

                    tbody
                        -   for   (var day = 0 ; day < classes.length; day++ ){
                            tr
                                if    day == 0
                                    td.day  Mon
                                if    day == 1
                                    td.day  Tue
                                if    day == 2
                                    td.day  Wed
                                if    day == 3
                                    td.day Thu
                                if    day == 4
                                    td.day Fri
                                if    day == 5
                                    td.day Sat
                                if    day == 6
                                    td.day Sun           
                                -   for   (var hour = 0; hour < classes[day].length; hour++) {
                                        td.hour= classes[day][hour]
                                -   }
                        -   }

        |Present Room : #{room}
        hr

        form(action="#{rootURL}/control/room-map/#{room}/shiftclass", method="post", name="form1" id="form1").mdc-form-field
            |Select Present Day 
            select#day(name="day")
                option(value="0") Monday
                option(value="1") Tuesday
                option(value="2") Wednesday
                option(value="3") Thursday
                option(value="4") Friday
                option(value="5") Saturday

            |Select Present Hour
            select#hour(name="hour")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
            
            
            br
            |Select New Room
            select#room(name= "room1")
                    each room in rooms
                        option #{room} 
            |Select New Day
            select#day(name="day1")
                option(value="0") Monday
                option(value="1") Tuesday
                option(value="2") Wednesday
                option(value="3") Thursday
                option(value="4") Friday
                option(value="5") Saturday
            |Select New Hour
            select#hour(name="hour1")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
                option(value="6") 6
                option(value="7") 7
                option(value="8") 8
                option(value="9") 9
                option(value="10") 10
           
        button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}')")
            | Cancel
            span.mdl-button__ripple-container
                span.mdl-ripple

        button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
            | Shift Class
            span.mdl-button__ripple-container
                span.mdl-ripple

        
