extends ../../../master-dashboard


block content
    style.
        td {
        cursor: pointer;
        }
        .wrapper{
            display:none;
            width:100%;
            height:100%;
            position:fixed;
            top:0px;
            left:0px;
            z-index:99000;
            background:rgba(255,255,255,0.8);
        }
        .mdl-dialog{
            display:none;
            z-index:10000000;
            width:600px !important;
            max-width:80% !important;
        }
        .message{
            background:#e9e96d;
            padding:30px;
            width:600px;
            border-radius:5px;
            margin:0 auto;
            max-width:90%;
            color:black;
            text-align:center;
        }
    style.
        .fullwidth, .fullwidth thead tr{
            width:100%;
        }
    div.mdl-cell.mdl-cell--12-col
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            .android-customized-section
                .android-customized-section-text
                    h2 CG Transcripts
                    p.center Admins can manage status of CG Transcript applications here.
                    -if(message)
                        .message
                            h4 Message
                            hr(style="border-color:grey")
                            |#{message}
                    hr
                    .cg-options
                        h5 Options
                        |Hide completed
                        input(type="checkbox" false).activeOnly
                        |&nbsp; &nbsp;
                        |Sort applications by:
                        select.sortCGTranscripts
                            option Date of Creation
                            option Status
                        |&nbsp; &nbsp;                        
                        button.mdl-button.mdl-button--raised.mdl-button---red Apply Filters

                    br
                    table.mdl-data-table.fullwidth
                        thead
                            tr
                                th Sr No.
                                th Date of Creation
                                th Applicant ID
                                th Application Type
                                th Status
                                th Info
                                th Options
                        tbody
                            -for(sr in cgTranscripts)
                                - console.log(sr)
                                tr
                                    td=parseInt(sr)+1
                                    td=new Date(cgTranscripts[sr].date).toLocaleString()
                                    td=cgTranscripts[sr].bitsId
                                    td
                                        -for(element of cgTranscripts[sr].applicationType)
                                            div
                                                span(style="background:whitesmoke;color:brown") #{element.name}
                                                span  : #{element.quantity} nos.
                                    td=cgTranscripts[sr].status
                                    td=cgTranscripts[sr].info
                                    td
                                        button.mdl-button.mdl-button--raised.mdl-button---red.view-profile(data-bitsid=cgTranscripts[sr].bitsId data-title="Applicant Profile") View  Profile
                                        | &nbsp; 
                                        button.mdl-button.mdl-button--raised.mdl-button--primary.modify-status(data-id=cgTranscripts[sr].id data-title="Modify Application Status") Modify Status


    .wrapper
    dialog.mdl-dialog
        h4.mdl-dialog__title.modal-title Dialog Box
        .mdl-dialog__content
            .modal-body
                | Content should load here. If it does not, reload page.
        .buttons
            hr
            button.mdl-button.mdl-button--raised.close-modal Close Dialog

