extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col.center
		h2 Admin Management
	div.mdl-cell.mdl-cell--12-col
		div.mdl-cell.mdl-cell--12-col
			center
				h4 Add Admin
					form(action="#{rootURL}/#{reqPortal}/manage-admins/add", method="post", name="addForm" id="addForm")
						input#name(name="name" placeholder="Name" required="true")
						br
						input#email(name="email" placeholder="Email" required="true")
						br
						select#department(name="department" placeholder="Department")
							option(value="") Division
							option(value="ME|Mechanical") Mechanical
							option(value="CS|Computer Science") Computer Science
							option(value="ECON|Economics") Economics
							option(value="HSS|Humanities") Humanities
							option(value="PHA|Pharmacy") Pharmacy
							option(value="MATH|Mathematics") Mathematics
							option(value="CE|Civil") Civil
							option(value="CHE|Chemical") Chemical
							option(value="BIO|Biology") Biology
							option(value="EEE|Electronics & Electrical") Electronics &amp; Electrical
							option(value="CHEM|Chemistry") Chemistry
							option(value="PHY|Physics") Physics
						br
						input#maxProjects(type="number" name="maxProjects" placeholder="Max Projects" required="true")
						h5 Portals
						div.mdl-grid
							each portal in adminPortals
								div.mdl-cell.mdl-cell--3-col
									input(type="checkbox" name="portals" value="#{portal.name}")
									font(size="3") #{portal.name} | #{portal.displayName}
						button(type="submit") Add
		hr
		div.mdl-cell.mdl-cell--12-col
			center
				h4 Delete Admin
					form(action="#{rootURL}/#{reqPortal}/manage-admins/delete", method="post", name="deleteForm" id="deleteForm")
						select#admin(name="admin")
							for admin in admins
								option(value="#{admin.email}") #{admin.name} | #{admin.email}
						button(type="submit") Delete