extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col.center
		h2 Portal Management

	div.mdl-cell.mdl-cell--12-col
		center
			div.table-responsive
				table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
					thead
						tr
							th.mdl-data-table__cell--non-numeric Display Name
							th.mdl-data-table__cell--non-numeric Endpoint
							th.mdl-data-table__cell--non-numeric Type
							th.mdl-data-table__cell--non-numeric Status
					tbody
						for portal in allPortals
							tr
								td.mdl-data-table__cell--non-numeric #{portal.displayName}
								td.mdl-data-table__cell--non-numeric #{portal.name}
								td.mdl-data-table__cell--non-numeric #{portal.admin ? "Administrator" : "Student"}
								td.mdl-data-table__cell--non-numeric #{portal.active ? "ON" : "OFF"}
								td.mdl-data-table__cell--non-numeric
									a(href='./portalToggle/toggle/#{portal._id}') Toggle