extends ../../../master-dashboard

block content
	style.
		.green {
			background: #1B5E20 !important;
			color: #ffffff !important;
			margin: 5px !important; 
		}
		.red {
			background: #b71c1c !important;
			color: #ffffff !important;
			margin: 5px !important;
		}
		.red:hover {
			color: black !important;
		}
		.green:hover {
			color: black !important;
		}
	div.mdl-cell.mdl-cell--12-col.center
		h2 Room Booking Approval

	for booking in bookings
		div.mdl-cell.mdl-cell--12-col
			div.mdl-grid.application
				div.mdl-cell.mdl-cell--8-col.center
					div.mdl-grid
						div.mdl-cell.mdl-cell--6-col.head Rooms :
						div.mdl-cell.mdl-cell--6-col.value #{booking.number}
						div.mdl-cell.mdl-cell--6-col.head Start Time :
						div.mdl-cell.mdl-cell--6-col.value #{booking.start.toString().substring(0, booking.start.toString().indexOf("GMT"))}
						div.mdl-cell.mdl-cell--6-col.head End Time :
						div.mdl-cell.mdl-cell--6-col.value #{booking.end.toString().substring(0, booking.end.toString().indexOf("GMT"))}
						div.mdl-cell.mdl-cell--6-col.head Booked By :
						div.mdl-cell.mdl-cell--6-col.value #{booking.bookedBy}
						div.mdl-cell.mdl-cell--6-col.head Purpose :
						div.mdl-cell.mdl-cell--6-col.value #{booking.purpose}
				div.mdl-cell.mdl-cell--2-col.center
					button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.green(onclick="window.location.replace('#{rootURL}/room-booking-approval/approve/#{booking._id}')")
						i.material-icons done
						| Approve Booking
				div.mdl-cell.mdl-cell--2-col.center
					button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.red(onclick="window.location.replace('#{rootURL}/room-booking-approval/reject/#{booking._id}')")
						i.material-icons cancel
						| Reject Booking
		script.
			window.setInterval(function(){
				window.location.reload();
			}, 300000);