extends ../../../master-dashboard

block content
	style.
		#formBG {
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
			margin: 5px;
			background: white;
			width: 100%;
		}
		.mdl-textfield {
			width: 600px
		}
	div.mdl-grid#formBG
		div.mdl-cell.mdl-cell--12-col.center
			h2 TA Application Status
			hr

		if cTAs.length > 0
			div.mdl-cell.mdl-cell--12-col.center
				h5 Course Work
			div.mdl-cell.mdl-cell--12-col.center
				center
					div.table-responsive
						table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
							thead
								tr
									th.mdl-data-table__cell--non-numeric Course
									th.mdl-data-table__cell--non-numeric IC Approval
									th.mdl-data-table__cell--non-numeric IC Remarks
									th.mdl-data-table__cell--non-numeric HOD Approval
									th.mdl-data-table__cell--non-numeric TD Approval							
							tbody
								- var status = {"P": "Pending", "A": "Accpeted", "R": "Rejected"}
								for item in cTAs
									tr
										td.mdl-data-table__cell--non-numeric #{item.course}
										td.mdl-data-table__cell--non-numeric #{status[item.icApproval]}
										td.mdl-data-table__cell--non-numeric #{item.icRemarks}
										td.mdl-data-table__cell--non-numeric #{status[item.hodApproval]}
										td.mdl-data-table__cell--non-numeric #{status[item.idApproval]}
										td.mdl-data-table__cell--non-numeric
											a(href='#', onclick=onclick="materialConfirm('Confirm','Are you sure to CANCEL this application ( #{item.course} ) ?',function(confirm){ if(confirm) { window.location.replace('#{rootURL}/#{reqPortal}/cancel/#{item._id.toString()}'); } })") 
												i.material-icons delete_forever

		if dTAs.length > 0
			div.mdl-cell.mdl-cell--12-col.center
				h5 Division Work
			div.mdl-cell.mdl-cell--12-col.center
				center
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
						thead
							tr
								th.mdl-data-table__cell--non-numeric Division
								th.mdl-data-table__cell--non-numeric IC Approval
								th.mdl-data-table__cell--non-numeric IC Remarks
								th.mdl-data-table__cell--non-numeric TD Approval							
						tbody
							- var status = {"P": "Pending", "A": "Accpeted", "R": "Rejected"}
							for item in dTAs
								tr
									td.mdl-data-table__cell--non-numeric #{item.division}
									td.mdl-data-table__cell--non-numeric #{status[item.icApproval]}
									td.mdl-data-table__cell--non-numeric #{item.icRemarks}
									td.mdl-data-table__cell--non-numeric #{status[item.idApproval]}
									td.mdl-data-table__cell--non-numeric
										a(href='#', onclick="materialConfirm('Confirm','Are you sure to CANCEL this application ( #{item.division} ) ?',function(confirm){ if(confirm) { window.location.replace('#{rootURL}/#{reqPortal}/cancel/#{item._id.toString()}'); } })") 
											i.material-icons delete_forever

		if cTAs.length == 0 && dTAs.length == 0
			div.mdl-cell.mdl-cell--12-col.center
				h5 No Applications ...
