div
    br
    p
    | Select the room(s) from the following list for
    br
    b #{date} : #{start} - #{end}
    p
    b  TERMS AND CONDITIONS 
    block page-text
        ol
          li  F102 and F105 are not available for the students to book. Contact Timetable Division for booking the same.
          li  You would be held liable for any damage done to the room property during the booking period. 
    p.accept
    label
    input(type='checkbox', name='agree' id='damage-agree')
    | I AGREE TO THE ABOVE TERMS AND CONDITIONS
    br
    button#bookBtn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Book
    br
    form(id="room-list-form").mdc-form-field
        ul.mdl-list
            for room in rooms
                li.mdl-list__item.mdl-list__item--three-line.room-list-item(id="#{room.number}")
                    span.mdl-list__item-primary-content
                        i.mdl-list__item-icon
                            img(src='/images/material-letter-icons/png/#{room.number.substr(0,1)}.png' width='55px')
                        span #{room.number}
                        span.mdl-list__item-text-body #{room.type} - Lecture Capacity: #{room.lectureCapacity} - Exam Capacity: #{room.examCapacity}
                    span.mdl-list__item-secondary-content
                        span.mdl-list__item-secondary-action
                            label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='room-#{room.number}')
                                input.mdl-checkbox__input.room-checkbox(type='checkbox', name='#{room.number}', value='#{room.number}', id='room-#{room.number}')
    if rooms.length == 0
        | No Rooms Found
    script.
        alert("hello")