div
	br
	p
	| Select the room(s) from the following list for
	br
	b #{date} : #{start} - #{end}
	br
	br
	button#bookBtn.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Book
	label                                                                                                     input(type='checkbox', name='tobechecked', id='confbook')                          span.label-text | I take full responsibility of any mishappenings/accidents in this room during the 				   booking period. If any damages are done, I shall be held liable.
	form(id="room-list-form").mdc-form-field
		ul.mdl-list
			for room in rooms
				li.mdl-list__item.mdl-list__item--three-line.room-list-item(id="#{room.number}")
					span.mdl-list__item-primary-content
						i.mdl-list__item-icon
							img(src='/images/material-letter-icons/png/#{room.number.substr(0,1)}.png' width='55px')
						span #{room.number}
						span.mdl-list__item-text-body #{room.type} - Lecture Capacity: #{room.lectureCapacity} - Exam Capacity: #{room.examCapacity}
					span.mdl-list__item-secondary-content
						span.mdl-list__item-secondary-action
							label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='room-#{room.number}')
								input.mdl-checkbox__input.room-checkbox(type='checkbox', name='#{room.number}', value='#{room.number}', id='room-#{room.number}')
	if rooms.length == 0
		| No Rooms Found
	script.
		alert("hello")