extends ../master-dashboard

block content
	link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='/stylesheets/date-picker/mdDateTimePicker.css')

	div.mdl-cell.mdl-cell--12-col.center
		div#demo-stepper-linear.mdl-stepper.mdl-stepper--linear.mdl-stepper--horizontal(data-upgraded=',MaterialStepper')
			div.mdl-step
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Provide Details
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 1				
			div.mdl-step.is-active
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Select Room
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 2
				.mdl-step__content
					div
						h4 Room Booking
						p Select a room to book
						- var roomNum = 0;
						form(action="#{rootURL}/#{reqPortal}/step-3", method="post", id="form1").mdc-form-field
							ul.mdl-list
								for room in rooms
									li.mdl-list__item.mdl-list__item--three-line
										span.mdl-list__item-primary-content
											i.mdl-list__item-icon
												img(src='/images/material-letter-icons/png/#{room.number.substr(0,1)}.png' width='55px')
											span #{room.number}
											span.mdl-list__item-text-body #{room.type}
										span.mdl-list__item-secondary-content
											span.mdl-list__item-secondary-action
												label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='room-#{room.number}')
													input.mdl-radio__button(type='radio', name='room', value='#{room.number}', id='room-#{room.number}')
						if rooms.length == 0
							| No Rooms Found					
					
				.mdl-step__actions
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
						| Continue
						span.mdl-button__ripple-container
							span.mdl-ripple
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}')")
						| Cancel
						span.mdl-button__ripple-container
							span.mdl-ripple
			div.mdl-step
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Confirm
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 3
	script.

		var listItems = Array.prototype.slice.call(document.getElementsByClassName('mdl-list__item'));

		listItems.forEach(function(item){
			item.onclick = function() {
				item.getElementsByTagName('input')[0].parentNode.MaterialRadio.check();
			}
		});