extends ../master-dashboard

block content
	link(rel='stylesheet' href='/stylesheets/material-alerts.css')

	div.mdl-cell.mdl-cell--12-col
		h2 Your Upcoming Room Bookings

	for booking in bookings
		div.mdl-cell.mdl-cell--12-col
			div.mdl-grid.application
				div.mdl-cell.mdl-cell--8-col.center
					div.mdl-grid
						div.mdl-cell.mdl-cell--6-col.head Rooms :
						div.mdl-cell.mdl-cell--6-col.value #{booking.number}
						div.mdl-cell.mdl-cell--6-col.head Start Time :
						div.mdl-cell.mdl-cell--6-col.value #{booking.start.toString().substring(0, booking.start.toString().indexOf("GMT"))}
						div.mdl-cell.mdl-cell--6-col.head End Time :
						div.mdl-cell.mdl-cell--6-col.value #{booking.end.toString().substring(0, booking.end.toString().indexOf("GMT"))}
						div.mdl-cell.mdl-cell--6-col.head Status :
						div.mdl-cell.mdl-cell--6-col.value #{booking.approval == "P" ? "Pending" : booking.approval == "A" ? "Approved" : "Rejected"}
						div.mdl-cell.mdl-cell--6-col.head Audio / Visual :
						div.mdl-cell.mdl-cell--6-col.value #{booking.av ? "Yes" : "No"}
						div.mdl-cell.mdl-cell--6-col.head Purpose :
						div.mdl-cell.mdl-cell--6-col.value #{booking.purpose}
				div.mdl-cell.mdl-cell--4-col.center
					button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(onclick="materialConfirm('Confirm','Are you sure to CANCEL this booking ?',function(confirm){ if(confirm) { window.location.replace('#{rootURL}/#{reqPortal}/cancel/#{booking._id.toString()}'); } })")
						| Delete Booking

	div.mdl-cell.mdl-cell--12-col.center

		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/')") Go Back

	script(type='text/javascript' src='/scripts/material-alerts.js')