extends ../../../master-dashboard

block content

	style.
		.no-bottom {
			margin-bottom : 0px;
		}
		.no-top {
			margin-top : 0px;
		}
		.green {
			background: #1B5E20 !important;
			color: #ffffff !important;
			margin: 5px !important; 
		}
		.red {
			background: #b71c1c !important;
			color: #ffffff !important;
			margin: 5px !important;
		}
		.red:hover {
			color: black !important;
		}
		.green:hover {
			color: black !important;
		}
	div.mdl-cell.mdl-cell--12-col
		h2 Room Booking Approval

	div.mdl-cell.mdl-cell--12-col
		center
			div
				div.table-responsive
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
						thead
							tr
								th.mdl-data-table__cell--non-numeric Room
								th.mdl-data-table__cell--non-numeric From
								th.mdl-data-table__cell--non-numeric To
								th.mdl-data-table__cell--non-numeric Booked By
								th.mdl-data-table__cell--non-numeric Phone
						tbody
							tr
								td.mdl-data-table__cell--non-numeric #{booking.number}
								td.mdl-data-table__cell--non-numeric #{booking.start.toString().substring(0, 21)}
								td.mdl-data-table__cell--non-numeric #{booking.end.toString().substring(0, 21)}
								td.mdl-data-table__cell--non-numeric #{student.name}
								td.mdl-data-table__cell--non-numeric #{booking.phone}


	div.mdl-cell.mdl-cell--12-col.no-bottom
		center
			| Purpose

	div.mdl-cell.mdl-cell--12-col.no-top
		center
			span.mdl-chip(title='Purpose')
				span.mdl-chip__text #{booking.purpose}

	div.mdl-cell.mdl-cell--12-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.green(onclick="window.location.replace('#{rootURL}/room-booking-approval/approve/#{booking._id}')")
			i.material-icons done
			| Approve Booking

		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.red(onclick="window.location.replace('#{rootURL}/room-booking-approval/reject/#{booking._id}')")
			i.material-icons cancel
			| Reject Booking