extends ../../../../master-dashboard

block content
	style.
		td {
		cursor: pointer;
		}
	div.mdl-cell.mdl-cell--12-col
		.mdl-grid
			.mdl-cell.mdl-cell--4-col.mdl-cell--middle
				button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect(onclick='window.location.replace("#{rootURL}/feedbacks-admin")')
					i.material-icons arrow_back
			.mdl-cell.mdl-cell--4-col
				h3(style='text-align:center') Midsem Feedback
				h6(style='text-align:center') Select a professor to view their respective feedback report.

	div.mdl-cell.mdl-cell--12-col
		center
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
				input#proflist.mdl-textfield__input(type='text', value='. . .', readonly='', tabindex='-1', name='proflist', onchange="loadProf(this);")
				label(for='proflist')
					i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
				label.mdl-textfield__label(for='proflist') Select a Professor
				ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='proflist')
					each prof in profs
						li.mdl-menu__item(data-val='#{prof._id}') #{prof.name}
	
	div.mdl-cell.mdl-cell--12-col
		div.mdl-cell.mdl-cell--12-col.center
			
			if results.feedbacks != undefined 
				if results.feedbacks != null
					each feedback in results.feedbacks
						br
						div.mdl-grid.application
							div.mdl-cell.mdl-cell--11-col.center
								div.mdl-grid
									div.mdl-cell.mdl-cell--6-col.head Course ID :
									div.mdl-cell.mdl-cell--6-col.value #{feedback.courseID}
									
									div.mdl-cell.mdl-cell--6-col.head Course Section :
									div.mdl-cell.mdl-cell--6-col.value #{feedback.section}

									div.mdl-cell.mdl-cell--6-col.head Course Instructor :
									div.mdl-cell.mdl-cell--6-col.value #{feedback.name}									
									div.mdl-cell.mdl-cell--6-col.head Which characterstics of this instructor or course have been most valuable to your learning? 
									div.mdl-cell.mdl-cell--6-col.value #{feedback.responses[0]}

									div.mdl-cell.mdl-cell--6-col.head Which characterstics of this instructor, course, classroom or teaching environment require improvement? 
									div.mdl-cell.mdl-cell--6-col.value #{feedback.responses[1]}

									div.mdl-cell.mdl-cell--6-col.head Any other confidential information you would like to share with Academic - Undergraduate Studies Division about the instructor or course? 
									div.mdl-cell.mdl-cell--6-col.value #{feedback.responses[2]}	

									div.mdl-cell.mdl-cell--6-col.head Created On :
									div.mdl-cell.mdl-cell--6-col.value #{feedback.createdOn}																								
				else
					br
					h6 No feedbacks

			else
				br
				h6 No feedbacks	

		script.
			window.setInterval(function(){
				window.location.reload();
			}, 300000);
			function loadProf(s){
				window.location.replace('#{rootURL}/feedbacks-admin/midsem/view/' + s.getAttribute('data-val'));
			}