extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col.center
		h2 Project Allotment
		h4
			a(href='https://id.bits-hyderabad.ac.in/faq.pdf') FAQs
		hr
		h4 Your Applications

	div.mdl-cell.mdl-cell--12-col
		center
			div.table-responsive
				if applications.length !== 0
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.center
						thead
							tr
								th.mdl-data-table__cell--non-numeric Title
								th.mdl-data-table__cell--non-numeric Course Code
								th.mdl-data-table__cell--non-numeric Elective Type
								th.mdl-data-table__cell--non-numeric
						tbody
							for application in applications
								tr
									td.mdl-data-table__cell--non-numeric #{application.title.substring(0,60)}...

									td.mdl-data-table__cell--non-numeric
										if application.courseCode
											| #{application.courseCode}
										else
											| Not Selected

									td.mdl-data-table__cell--non-numeric
										if application.disciplinary
											| Disciplinary
										else
											| Open

									td.mdl-data-table__cell--non-numeric
										a(href='#{rootURL}/#{reqPortal}/view/#{application._id}') Update
				else
					h6 No Applications Found