extends ../../../master-dashboard

block content
    style.
        form {
            width: 100%;
            margin-left: 25%;
        }
        .mdl-textfield{
            width: 75% !important;
            display: block !important;
        }
    form(action="./project-allotment-guidelines/project-guidelines-submit", method="POST")
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#line1(type="text", name="line1" value="#{lines && lines[0] ? lines[0] : ''}")
            label.mdl-textfield__label Line1
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#line2(type="text", name="line2" value="#{lines && lines[1] ? lines[1] : ''}")
            label.mdl-textfield__label Line2
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#line3(type="text", name="line3" value="#{lines && lines[2] ? lines[2] : ''}")
            label.mdl-textfield__label Line3
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#line4(type="text", name="line4" value="#{lines && lines[3] ? lines[3] : ''}")
            label.mdl-textfield__label Line4
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input#line5(type="text", name="line5" value="#{lines && lines[4] ? lines[4] : ''}")
            label.mdl-textfield__label Line5
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect(type="submit") Submit
