extends ../../../master-dashboard

block content
	style.
		#formBG {
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
			margin: 5px;
			background: white;
			width: 100%;
		}
	div.mdl-grid#formBG
		div.mdl-cell.mdl-cell--12-col.center
			h2 Project Application Update
			h4 #{project.title} | #{project.type.toUpperCase()}
			hr

		div.mdl-cell.mdl-cell--12-col.center

			form(action="#{rootURL}/#{reqPortal}/update/#{application._id}", method="post", name="form1" id="form1").mdc-form-field
				h5 Course Code
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
					input#courseCode.mdl-textfield__input(type='text', value='. . .', readonly='', tabindex='-1', name='courseCode')
					label(for='courseCode')
						i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
					label.mdl-textfield__label(for='courseCode') Select Course code
					ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='courseCode')
						for course in courses
							li.mdl-menu__item #{course}

				br
				br
				h5 Elective Type
				label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='disc')
					input.mdl-radio__button(type='radio', id='disc', name='elective', value='disc', checked='')
					span.mdl-radio__label Disciplinary
				&nbsp; &nbsp; &nbsp; 
				label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='open')
					input.mdl-radio__button(type='radio', id='open', name='elective', value='open')
					span.mdl-radio__label Open
		
				br
				br
				br
				button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded='',MaterialButton,MaterialRipple,type="submit",form="form1")
					| Update